@font-face {
    font-family: 'AdiHaus';
    src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AdiHaus";
    src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'AdiHaus';
}
.page-container {
    width: 100%;
}
.inner-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}
#logo {
    display: block;
    margin: 2rem auto;
}
.shoes-img-mobile {
    width: 100%;
    height: 250px;
    background-color: grey;
    background-image: url('./images/mobile-shoes.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-content-container {
    width: 100%;
    text-align: center;
}